<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <%- include ('partials/head') %>
</head>

<body>
  <%- include ('partials/navigation') %>

    <div class="container w-75">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-2 col-" role="group">
          <button class="btn btn-primary" onclick="getList()">List All Players on DB</button>
          <a href="/newplayer" class="btn btn-primary">Add New Player</a>
          <button class="btn btn-primary" onclick="getListSheets();">Load Information from SS</button>
        </div>
        <div class="btn-group mr-2 col-" role="group">
          <button class="btn btn-secondary" onclick="sendData();">Upload Information to DB</button>
        </div>
        <div class="btn-group col-" role="group">
          <a class="btn btn-success"
            href="https://docs.google.com/spreadsheets/d/1u5wL7opIGzHnEaMTXGRuW2AfXdeIrRYXXgLZ2M9Urm0"
            target="_blank">Spreadsheet</a>
        </div>
      </div>
    </div>

    <div class="container">
      <table style="width: 100%;" class="table table-bordered table-dark " style="display: none;"
        id="loadedInformation">

        <%- table %>
      </table>
      <br>


    </div>

    <%- include ('partials/footer') %>

</body>

</html>