<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact Page</title>
    <%- include ('partials/head') %>
</head>

<body>
    <%- include ('partials/navigation') %>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="card animated flipInY">
                    <div class="card-header bg-dark text-white text-center">
                        <h3>Log In</h3>
                    </div>
                    <div class="card-body bg-dark ">
                        <form class="justify-content-center" action="/login" method="POST">
                            <label>Username </label> <input name="username" type="text" /><br />
                            <label>Password </label> <input name="password" type="password" /><br />
                            <input type="submit" value="Login" />
                            <% if (message) {%>
                            <p>
                                <label style="color:red"><%= message %></label>
                            </p>
                            <p class="justify-content-center">
                                <a href="/users/forgot">Forgot Password</a> | <a href="/users/signup">Sign Up</a>
                            </p>
                            <%}%>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

  

    
    <%- include ('partials/footer') %>
</body>

</html>